<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/mybatis/default_layout}">

<div layout:fragment="content">
	<h1>사원 목록</h1>
	[[ ${message } ]] <!-- 리다이렉트 메시지 출력 -->
	<a th:href="@{/hr/insert}" class="btn btn-primary">신규 사원 정보 입력</a>
	<table border="1" class="table">
	<tr>
		<th>EMPLOYEE_ID</th>
		<th>FIRST_NAME</th>
		<th>LAST_NAME</th>
		<th>EMAIL</th>
		<th>PHONE_NUMBER</th>
		<th>HIRE_DATE</th>
		<th>JOB_ID</th>
		<th>SALARY</th>
		<th>COMMISSION_PCT</th>
		<th>MANAGER_ID</th>
		<th>DEPARTMENT_ID</th>
	</tr>
	<tr th:each="emp : ${empList}">
		<td><a th:href="@{/hr/{id}(id=${emp.employeeId},)}" th:utext="${emp.employeeId}"></a></td>
		<td th:utext="${emp.firstName}"></td>
		<td th:utext="${emp.lastName}"></td>
		<td th:utext="${emp.email}"></td>
		<td th:utext="${emp.phoneNumber}"></td>
		<td th:utext="${emp.hireDate}"></td>
		<td th:utext="${emp.jobId}"></td>
		<td th:utext="${emp.salary}"></td>
		<td th:utext="${emp.commissionPct}"></td>
		<td th:utext="${emp.managerId}"></td>
		<td th:utext="${emp.departmentId}"></td>
	</tr>
	</table>
</div>

</html>