<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/mybatis/default_layout}">

<div layout:fragment="content">
	<h1>사원 정보 상세 조회</h1>
	[[ ${message} ]] <!-- 리다이렉트 메시지 출력 -->
	<table border="1" th:object="${emp}"  class="table">
	<tr>
		<th>EMPLOYEE_ID</th>
		<td th:utext="*{employeeId}"></td>
	</tr>
	<tr>
		<th>FIRST_NAME</th>
		<td th:utext="*{firstName}"></td>
	</tr>
	<tr>
		<th>LAST_NAME</th>
		<td th:utext="*{lastName}"></td>
	</tr>
	<tr>
		<th>EMAIL</th>
		<td th:utext="*{email}"></td>
	</tr>
	<tr>
		<th>PHONE_NUMBER</th>
		<td th:utext="${emp.phoneNumber}"></td>
	</tr>
	<tr>
		<th>HIRE_DATE</th>
		<td th:utext="*{hireDate}"></td>
	</tr>
	<tr>
		<th>JOB_ID</th>
		<td th:utext="*{jobId}"></td>
	</tr>
	<tr>
		<th>SALARY</th>
		<td th:utext="'$'+${#numbers.formatDecimal(emp.salary,0,'COMMA',1,'POINT')}"></td>
	</tr>
	<tr>
		<th>COMMISSION_PCT</th>
		<td th:utext="*{commissionPct}+'%'"></td>
	</tr>
	<tr>
		<th>MANAGER_ID</th>
		<td th:utext="*{managerId}"></td>
	</tr>
	<tr>
		<th>DEPARTMENT_ID</th>
		<td th:utext="*{departmentId}"></td>
	</tr>
	</table>
	<a th:href="@{update(empid=${emp.employeeId})}" class="btn btn-warning">수정하기</a> 
	<a th:href="@{delete(empid=${emp.employeeId})}" class="btn btn-danger">삭제하기</a>
</div>

</html>